# Add any default sdkconfig settings here

# ESP32-CAM units have a SPIRAM chip, required for the camera component
CONFIG_ESP32_SPIRAM_SUPPORT=y

# ESP32-CAM units have 4Mb flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
